sujon java/JAVA Codes/Proj_24-01-18/src/xsd.xml

<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->


<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:annotation>
        <xsd:documentation>
            This schema defines document that contain an address.
        </xsd:documentation>
    </xsd:annotation>
    <!--This declares document content-->
    <xsd:element name="address" type="AddressType"/>

    <!--This defines an element type that is used in the declaration of content-->
    <xsd:complexType name="AddressType">
        <xsd:sequence>
            <xsd:element name="buildingnumber" type="xsd:positiveInteger"/>
            <xsd:element name="street" type="xsd:string"/>
            <xsd:element name="city" type="xsd:string"/>
            <xsd:element name="state" type="xsd:string"/>
            <xsd:element name="zip" type="xsd:decimal"/>
        </xsd:sequence>
    </xsd:complexType>
</xsd:schema>